body
{
	background-image: url('img/site42-bg.gif');
	font-family: "Quicksand", Helvetica, Arial, sans-serif;
}

a.head_barre:link
{
	color: #FFFFFF;
}

a.head_barre:visited
{
	color: #FFFFFF;
}

a.head_barre:hover
{
	color: #FFFFFF;
	text-decoration: none;
}

a.head_barre:active
{
	color: #FFFFFF;
}

a:link
{
	color: #000000;
}

a:visited
{
	color: #000000;
}

a:hover
{
	color: #000000;
	text-decoration: none;
}

a:active
{
	color: #000000;
}

h1
{
	text-align: center;
	text-shadow: 2px 2px 2px grey;
	color: white;
	font: 80px 'Calibri';
}

h2
{
	padding-left: 60px;
    line-height: 25px;
    font-size: 1.4em;
    background: url('img/logo42.png') no-repeat left center;
    color: black;
    border-bottom: 1px dotted black;
	font-variant:small-caps;
}

h3
{
	padding-left: 80px;
    line-height: 25px;
    font-size: 1.2em;
    color: black;
    font-weight: 200;
}

p.italic
{
	font-style: italic;
}

.mainbloc
{
	width: 80%;
	border-spacing: 0;
	border: 1px solid black;
	background-color: white;
	-webkit-box-shadow:   0px 21px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 0px 21px 0px rgba(50, 50, 50, 1);
	box-shadow: 0px 0px 21px 0px rgba(50, 50, 50, 1);
	margin-top: -20px;
	margin-right: auto;
	margin-left: auto;
}

.head_barre
{
	background-color: #2a2a2a;
}

.main_barre
{
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.item
{
	width: 100%;
	border-spacing: 20px;
	background-color: #E6E6E6;
}

.crop
{
	float: left;
	margin: .5em 10px .5em 0;
	overflow: hidden;
	border: 1px solid #000;
}

.crop img
{
	margin: -29px -11px -32px -1px;
}

.login
{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	background-color: #E6E6E6;
	border-spacing: 5px;
	border: 1px dotted black;
}